[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
